:root {
	--primary: #76caff;
	--primary-dark: #007ecd;
	--primary-light: #badff5;
	--background: black;
	--background-card: #003353;
	--radius-sm: 6px;
	--radius-md: 12px;
	--radius-lg: 24px;
	--radius-round: 50%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--background);
	scroll-behavior: smooth;
}

body {
	font-family: "Source Code Pro", monospace;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

/* ---------- Navigation Bar ----------- */

.nav-bar {
	position: relative;
	padding: 20px 0;
}

.nav-bar ul {
	list-style: none;
	gap: 50px;
}

.nav-bar a {
	color: var(--primary);
	text-decoration: none;
}

.nav-bar a:hover {
	color: var(--primary-dark);
}

.nav-links {
	gap: 50px;
}

.nav-icons {
	position: absolute;
	right: 20px;
}

.nav-icons img {
	width: 48px;
	height: 48px;
}

.active {
	border-bottom: 2px solid var(--primary);
}

/* ---------- HOME PAGE ----------- */

/* --- Hero --- */

.hero {
	background-image: url(../assets/images/code-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero-content {
	gap: 80px 200px;
	padding: 50px;
}

.hero-text-buttons {
	background-color: rgba(0, 0, 0, 0.607);
	gap: 30px;
	padding: 30px 30px;
	border-radius: var(--radius-lg);
}

.hero-text {
	color: var(--primary);
	gap: 15px;
}

.hero-text h1 {
	font-size: 2.5rem;
}

.hero-text h2 {
	font-size: 1.5rem;
}

.hero-text-buttons a {
	padding: 15px 25px;
	margin: 10px 0;
	font-size: 1.25rem;
	background-color: var(--primary-dark);
	border-radius: var(--radius-md);
	text-decoration: none;
	color: var(--primary-light);
	transition: transform 0.2s ease;
}

.hero-buttons a:hover {
	background: var(--primary-dark);
	color: var(--primary-light);
	transform: translateY(-3px);
}

.hero-img img {
	border-radius: var(--radius-round);
	width: 350px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.792);
}

/* --- My Projects --- */

.my-projects {
	gap: 50px;
	margin: 0 200px 50px 200px;
}

.my-projects h2 {
	color: var(--primary);
	margin-top: 100px;
	font-size: 2rem;
}

.project-card {
	border: solid 1px var(--primary);
	border-radius: var(--radius-lg);
	gap: 50px;
	padding: 50px;
	background-color: var(--background-card);
	max-width: 1200px;
}

.project-card img {
	width: 500px;
	border-radius: var(--radius-lg);
}

.project-card-description {
	gap: 50px;
}

.project-card-description h3 {
	font-size: 1.25rem;
	color: var(--primary);
}

.project-card-links {
	gap: 30px;
}

.project-card-links a {
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--primary);
	background-color: var(--background);
	border-radius: var(--radius-md);
	padding: 10px 15px;
}

.project-card-links a:hover {
	background-color: rgb(25, 25, 25);
}

/* --- My Current Projects --- */

.current-project {
	gap: 50px;
}

.current-project h2 {
	color: var(--primary);
	font-size: 2rem;
	margin-top: 50px;
}

.current-project-card {
	border: solid 1px var(--primary);
	border-radius: var(--radius-lg);
	gap: 50px;
	padding: 50px;
	background-color: var(--primary-dark);
	max-width: 1200px;
}

.current-project-card img {
	width: 500px;
	border-radius: var(--radius-lg);
}

.current-project-links {
	gap: 30px;
}

.current-project-links a {
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--primary);
	background-color: var(--background);
	border-radius: var(--radius-md);
	padding: 10px 15px;
}

.current-project-links a:hover {
	background-color: rgb(25, 25, 25);
}

/* ---------- Footer ----------- */

.footer {
	color: var(--primary);
	padding: 20px 0;
	margin-top: 50px;
}

/* --- Back To Top Button --- */

.back-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: var(--primary-dark);
	color: var(--primary-light);
	padding: 10px 25px;
	border-radius: var(--radius-md);
}

/* ---------- CONTACT PAGE ----------- */

.contact-section {
	max-width: 600px;
	margin: 100px auto;
	padding: 40px;
	gap: 25px;
}

.contact-section h2 {
	color: var(--primary);
	text-align: center;
}

.contact-form {
	background: var(--primary-dark);
	border-radius: var(--radius-md);
	padding: 40px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	gap: 20px;
}

.form-group {
	text-align: left;
	gap: 5px;
}

.form-group label {
	font-size: 1.1rem;
}

.form-group placeholder {
	text-align: left;
	gap: 5px;
}

.contact-form input,
.contact-form textarea {
	padding: 12px;
	border: 1px solid #bce5ff;
	font-size: 1.1rem;
	border-radius: var(--radius-md);
	background-color: var(--primary);
}

.contact-form input:focus,
.contact-form textarea:focus {
	outline: none;
	border-color: var(--primary-dark);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: var(--primary-dark);
	opacity: 0.75;
}

.contact-form button {
	margin-top: 10px;
	padding: 14px;
	border: none;
	border-radius: 10px;
	background: var(--background);
	color: var(--primary);
	font-size: 1.1rem;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.contact-form button:hover {
	background-color: rgb(30, 30, 30);
	color: var(--primary);
	transform: translateY(-3px);
}

@media only screen and (max-width: 430px) {
	.nav-bar {
		padding: 10px 25px;
		justify-content: space-between;
	}
	.nav-bar ul {
		gap: 15px;
		font-size: 1.1rem;
	}
	.nav-icons {
		position: static;
		right: auto;
	}
	.hero {
		height: 100vh;
	}
	.hero-text-buttons {
		gap: 15px;
		padding: 10px 10px;
		border-radius: var(--radius-md);
	}
	.hero-content {
		gap: 30px;
		padding: 15px;
	}
	.hero-text {
		border-radius: var(--radius-md);
		padding: 25px 20px;
	}
	.hero-img img {
		width: 300px;
	}
	.my-projects {
		margin: 0 15px;
		gap: 35px;
	}
	.my-projects h2 {
		margin-top: 50px;
		font-size: 1.8rem;
	}
	.project-card {
		border-radius: var(--radius-md);
		gap: 35px;
		padding: 15px;
		display: flex;
		flex-direction: column;
	}
	.project-card img {
		max-width: 100%;
		order: -1;

		border-radius: var(--radius-md);
	}
	.project-card-description {
		gap: 25px;
	}
	.project-card-description h3 {
		font-size: 1.25rem;
		padding: 0 10px;
	}
	.project-card-links a {
		font-size: 1.3rem;
		border-radius: var(--radius-sm);
		padding: 10px 13px;
	}
	.back-to-top {
		bottom: 15px;
		right: 15px;
		padding: 12px 25px;
	}
	.current-project {
		gap: 35px;
	}
	.current-project h2 {
		font-size: 1.8rem;
	}
	.current-project-card {
		border-radius: var(--radius-md);
		gap: 35px;
		margin: 0 15px;
		padding: 15px;
		display: flex;
		flex-direction: column;
	}
	.current-project-card img {
		max-width: 100%;
		border-radius: var(--radius-md);
	}
	.current-project-card a {
		font-size: 1.3rem;
		border-radius: var(--radius-sm);
		padding: 10px 13px;
	}
	.current-project-links {
		gap: 35px;
	}
	.contact-section {
		margin: 50px 15px;
		padding: 0;
		gap: 20px;
	}
	.contact-section h2 {
		font-size: 1.8rem;
	}
	.contact-form {
		padding: 20px;
		gap: 18px;
	}
	.contact-form input,
	.contact-form textarea {
		font-size: 1rem;
		border-radius: var(--radius-sm);
	}
}
